/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00ccff;
  --ifm-color-primary-dark: #00b8e6;
  --ifm-color-primary-darker: #0081a1;
  --ifm-color-primary-darkest: #0081a1;
  --ifm-color-primary-light: #1ad1ff;
  --ifm-color-primary-lighter: #54ddff;
  --ifm-color-primary-lightest: #4ddbff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00fadd;
  --ifm-color-primary-dark: #00e1c7;
  --ifm-color-primary-darker: #00d4bc;
  --ifm-color-primary-darkest: #00af9b;
  --ifm-color-primary-light: #14ffe4;
  --ifm-color-primary-lighter: #21ffe5;
  --ifm-color-primary-lightest: #46ffea;
}
@font-face {
  font-family: 'YourFontName';
  src: url('../../static/fonts/MiSans-Bold.woff2') format('woff2'),
       url('../../static/fonts/MiSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
